#Ignore OS specific files
.DS_Store

#Ignore IDE specific files
*.idea
*.iml

#Ignore Code specific files
*.class
out/
target/

#Ignore Package specific files
*.jar
*.war
*.zip
*.tar
*.rar

#Ignore log files
*.log
